.contacts {
    padding-bottom: 112px;
    position: relative;
    min-height: 392px;
    &::after {
        content: "";
        position: absolute;
      top: -25px;
      left: 290px;
        z-index: -1;
background-image: url("./../image/ellips.svg");
background-repeat: no-repeat;
background-size: cover;
min-height: 510px;
width: 325px;

    }
}

.card {
    display: flex;
    flex-wrap: wrap;
    gap: 66px;
    &::after {
        content: "";
        position: absolute;
        top: -25px;
        right: 410px;
        z-index: -1;
background-image: url("./../image/ellips.svg");
background-repeat: no-repeat;
background-size: cover;
min-height: 510px;
width: 325px;

    }
}
.card-consultation {
    background-color: $bg-card;
    padding: 20px;
    height: 100%;
    width: 400px;
    text-align: center;
}
.card-consultation__title {
    background: linear-gradient(90.00deg, rgb(192, 4, 105),rgb(45, 27, 210));
-webkit-background-clip:
text;
-webkit-text-fill-color:
transparent;
background-clip:
text;
font-weight: 600;
text-transform: uppercase;
margin-bottom: 10px;
}
.card-consultation__subtitle {
    color: rgb(121, 122, 122);
font-size: clamp(0.375rem, 0.268rem + 0.54vw, 0.75rem);//12px
font-weight: 400;
margin-bottom: 50px;
}
.form {
    display: flex;
    flex-direction: column;
}
input::placeholder {
    color: rgb(121, 122, 122);
font-size: clamp(0.375rem, 0.268rem + 0.54vw, 0.75rem);//12px
font-weight: 400;

}
.name {
   
    input[type="text"] {
        background-color: transparent;
        outline: none; 
        border: 1px solid rgb(121, 122, 122);
        width: 291px;
        padding: 10px;
        margin-bottom: 12px;
        color: $color-text;
}
}

.tel {
    input[type="tel"] {
        background-color: transparent;
        outline: none; 
        border: 1px solid rgb(121, 122, 122);
        width: 291px;
        padding: 12px;
        margin-bottom: 22px;
        color: $color-text;

}
  
}

.form-btn {
    display: inline-flex;
    width: 124px;
    height: 34px;
    align-self: center;
    margin-bottom: 82px;
    color: $color-text;
    padding: 8px 21px;
    transition: all 0.5s;

&:hover {
background: #85068a;
}


}
.card-copy {
    margin: auto;
max-width: 200px;
font-size: 14px;
font-weight: 400;
}
.contacts-us {
    padding: 30px;
}
.contacts-flex {
    display: flex;
    column-gap: 10px;
}
.contacts-us__name {
    input[type="text"] {
        background-color: transparent;
        outline: none; 
        border: 1px solid rgb(121, 122, 122);
        width: 150px;
        padding: 10px;
        margin-bottom: 10px;
        color: $color-text;
}
}
.contacts-us__tel {
    input[type="tel"] {
        background-color: transparent;
        outline: none; 
        border: 1px solid rgb(121, 122, 122);
        width: 150px;
        padding: 12px;
        margin-bottom: 10px;
        height: 41px;
        color: $color-text;
}
}
textarea {
    background-color: transparent;
    outline: none;
border: 1px solid rgb(121, 122, 122);
width:  310px;
max-width: 310px;
max-height: 75px;
color: $color-text;
}
.contacts-btn {
    margin-top: 10px;
    margin-bottom: 18px;
}